// fonts
$font-text:      "Roboto Condensed", serif;   
$font-display:   "Open Sans", sans-serif;


// palette
$white-six:       #f1f1f1;
$water-blue:      #1190cd;
$azure:           #00acff;
$white-four:      #ffffff;
$white:           #e0e0e0;
$twilight-blue:   #094e6e;
$black-70:        rgba(0, 0, 0, 0.7);
$black-30:        rgba(20, 13, 13, 0.3);
$black-0:         rgba(0, 0, 0, 0);
$greyish-brown:   #444444;
$warm-grey:       #999999;
$warm-grey-three: #878787;
$white-three:     #fafafa;
$white-five:      #f9f9f9;
$brownish-grey:   #666666;
$black-10:        rgba(0, 0, 0, 0.1);
$pinkish-grey:    #cccccc;

// color assignment
$background:      $white-six;
// TODO others