@import 'globals';

header {
  height: 60px;
  background-color: $water-blue;

  div {
      float: left;
  }

  #logo {
    box-sizing: border-box;
    background-color: $azure;
    width: 107px;
    height: 60px;
    padding-top: 6px;
    padding-left: 30px;
	font-size: 48px;
    color: $white-four;
  }

  #title  {
    color: $white-four;
    padding: 16px;
    font-family: $font-text;
    font-size: 24px;
    font-weight: bold;
  }
}
